# ---------------------------------
# Python
# ---------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# ---------------------------------
# IDE
# ---------------------------------
.vscode/
.idea/

# ---------------------------------
# Jupyter
# ---------------------------------
.ipynb_checkpoints/

# ---------------------------------
# Logs
# ---------------------------------
*.log

# ---------------------------------
# Images (input/output)
# Uncomment if you don't want to track images
# ---------------------------------
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.bmp

# ---------------------------------
# AI Models
# ---------------------------------
*.pt
*.pth
*.onnx
*.ckpt

# ---------------------------------
# Output folders
# ---------------------------------
output/
results/
runs/
predictions/
masks/

# ---------------------------------
# CRAFT
# ---------------------------------
craft_mlt_25k.pth
refinenet.pth

# ---------------------------------
# YOLO
# ---------------------------------
*.cache

# ---------------------------------
# OS Files
# ---------------------------------
.DS_Store
Thumbs.db

# ---------------------------------
# Environment variables
# ---------------------------------
.env

# Hide folders
panoramas/
output/
results/
runs/
masks/
hidden/